<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Cyber Threat Added</title>
</head>
<body>
    <h1 style="color:darkblue">New Cyber Post</h1>
    <div class="containerNew">
        <form action="/new" method="POST">
            Threat: <input type="text" name="threat" /><br/>
            Impact: <input type="text" name="impact" /><br/>
            Mitigation: <input type="text" name="mitigation" /><br/>            
            <!-- <a href="/new">Submit New Cyber Threat</a> -->
            <input type="Submit" value="Submit">
        </form>
        <div class="divTag">
            <h4>
            <a href="/cyber">Return to list of post</a>
            </h4>
        </div>
    </div>
</body>
</html>