body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 h1 {
    text-align: center;
} 




/* Trash */

/* .indexh1 {
    text-align: center;
} */


/* .containerNew {
list-style: none;
} */